{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Médicos{% endblock title %}
{% block medico %}class="active"{% endblock %}
{% block medico_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}

 <!-- TABELA LISTA MÉDICOS -->
    <div class="container">
        <center><h1>Médicos</h1></center>

        <div align="right" style="margin-right: 7%">
            <a href=""><button type="submit" class="btn btn-primary">Cadastrar Novo</button></a>
        </div>
        <br>


        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Perfil</th>
                <th>Salario</th>
                <th>Expertise</th>
                <th>Atendimento</th>
                <th>Pontualidade</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos %}
                <tr>
                    <td>{{medico.id}}</td>
                    <td>{{medico.perfil}}</td>
                    <td>{{medico.salario | floatformat:2}}</td>
                    <td>{{medico.expertise}}</td>
                    <td>{{medico.atendimento}}</td>
                    <td>{{medico.pontualidade}}</td>
                    <td><a href=""><button type="button" class="btn btn-warning">Editar</button></a></td>
                    <td><a href=""><button type="button" class="btn btn-danger">Deletar</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock body %}