{% extends 'home/base_configuracoes.html' %}
{% load staticfiles %}
{% block title%}Área{% endblock title%}
{% block area %}class="active"{% endblock %}
{% block area_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}

    <!-- TABELA LISTA areas -->
<div class="container">
    <center><h1>Áreas</h1></center>

        <div align="right" style="margin-right: 11%">
            <a href="{% url 'area:area_new' %}"><button type="submit" class="btn btn-primary">Cadastrar Novo</button></a>
        </div>
        <br>



    <table class="table table-striped">
    {% with 0 as a %}


            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                </tr>
                {% for area in areas%}


                    <tr>
                        <th data-toggle="collapse" data-target="#collapseinativo{{forloop.counter }}">{{area.id}}</th>
                        <th data-toggle="collapse" data-target="#collapseinativo{{forloop.counter }}">{{area.nome}}</th>
                    </tr>

                    <td colspan="2">
                        <div id="collapseinativo{{forloop.counter}}" class="collapse jumbotron">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <th>Classe Social</th>
                                                            <th>Entrada ± Desvio </th>
                                                        </thead>

                                                        <tbody>
                                                            {% for classe in area_classe%}
                                                                {% if classe.area_id == area.id%}
                                                                    <td>{{classe.classe_social.nome }}</td>
                                                                    <td>{{classe.entrada}} ± {{classe.desvios}}</td>
                                                                {% endif %}
                                                                <tr></tr>
                                                            {% endfor %}
                                                            <td align="right"><a href="{% url 'area:area_edit' area.id %}"><button type="button" class="btn btn-warning">Editar</button></a></td>
                                                            <td><a href="{% url 'area:area_delete' area.id %}"><button type="button" class="btn btn-danger">Deletar</button></a></td>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                {% endfor %}


            </thead>
    {% endwith %}


    </table>

</div>

{% endblock body %}