{% extends 'home/base_configuracoes.html' %}

{% block title%}Área{% endblock title%}
{% block home %}{% endblock %}
{% block home_span %}{% endblock %}
{% block medico %}{% endblock %}
{% block medico_span %}{% endblock %}
{% block modulo %}{% endblock %}
{% block modulo_span %}{% endblock %}
{% block emprestimo %}{% endblock %}
{% block emprestimo_span %}{% endblock %}
{% block area %}class="active"{% endblock %}
{% block area_span %}<span class="sr-only">(current)</span>{% endblock %}

{% block body %}
    <center><h1>Cadastrar Área</h1></center><br>

<form action="." method="POST">{% csrf_token %}

    <div style="width: 30%; position: absolute; top:20%; bottom: 0; left: 0; right: 0; margin: 0 auto;">
        <table class="table table-striped" align="center">
            <thead>
            <tr>
                <td align="right"><b>Atributos</b></td>
                <td align="left"><b>Valores</b></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td align="right">Id:</td>
                <td align="left">{{id}}</td>
                <td></td>
            </tr>
            <tr>

                <td align="right">Nome:</td>
                <td align="left">{{form.nome}}</td>
                <td></td>

            </tr>
            <tr>

                <td></td>
                <td align="left">Entradas Iniciais</td>
                <td align="left" >Desvios</td>
            </tr>

            {% for classe_social in classes_sociais %}
            <tr>
                <td align="right">Classe {{classe_social.nome}}</td>
                <td align="right">{{form_area_classesocial.entrada}} </td>
                <td align="left">{{form_area_classesocial.desvios}}</td>
            </tr>
            {% endfor%}

            <tr>
                <td align="right"><a  style="text-decoration:none;" href="{% url 'area:area_index' %}"><button type="button" class="btn btn-warning btn-block" >Voltar</button></a></td>
                <td></td>
                <td align="left"><button type="submit" class="btn btn-success btn-block" >Cadastrar</button></td>

            </tr>
            </tbody>
        </table>
    </div>
    {{form.nome.errors}}


    {{ form.errors }} {# Melhorar a exibição de erros para o caso de Código e Area já existirem #}
</form>

{% endblock body %}