{% extends 'home/base_configuracoes.html' %}
{% load staticfiles %}
{% block title%}Área{% endblock title%}
{% block area %}class="active"{% endblock %}
{% block area_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}

    <!-- TABELA LISTA areas -->
<div class="container">
    <center><h1>Áreas</h1></center>

        <div align="right" style="margin-right: 11%">
            <a href="{% url 'area:area_new' %}"><button type="submit" class="btn btn-primary">Cadastrar Novo</button></a>
        </div>
        <br>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th> {# Remover na versão final #}
                <th>Entrada A</th>
                <th>Entrada B</th>
                <th>Entrada C</th>
                <th>Entrada D</th>
                <th>Entrada E</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
            </thead>
            <tbody>
            {% for area in areas%}
            <tr>
                <td>{{area.id}}</td>
                <td>{{area.nome}}</td>
                 {% for classe in area_classe%}
                     {% if classe.area_id == area.id%}
                          <td>{{classe.entrada}} ± {{classe.desvios}}</td>
                     {% endif %}
                 {% endfor %}
                <td><a href="{% url 'area:area_edit' area.id %}"><button type="button" class="btn btn-warning">Editar</button></a></td>
                <td><a href="{% url 'area:area_delete' area.id %}"><button type="button" class="btn btn-danger">Deletar</button></a></td>
            </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}