{% extends 'home/base_configuracoes.html' %}

{% block title%}Classes Sociais{% endblock title%}
{% block home %}{% endblock %}
{% block home_span %}{% endblock %}
{% block medico %}{% endblock %}
{% block medico_span %}{% endblock %}
{% block modulo %}{% endblock %}
{% block modulo_span %}{% endblock %}
{% block emprestimo %}{% endblock %}
{% block emprestimo_span %}{% endblock %}
{% block classe_social %}class="active"{% endblock %}
{% block classe_social_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}
    <center><h1>Cadastrar Classe Social</h1></center><br>

<form action="." method="POST">{% csrf_token %}

    <div style="width: 30%; position: absolute; top:20%; bottom: 0; left: 0; right: 0; margin: 0 auto;">
        <table class="table table-striped" align="center">
            <thead>
            <tr>
                <td align="right"><b>Atributos</b></td>
                <td align="left"><b>Valores</b></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td align="right">Id:</td>
                <td align="left">{{id}}</td>
            </tr>
            <tr>
                <td align="right">Nome:</td>
                <td align="left">{{form.nome}}</td>
            </tr>
            <tr>
                <td align="right">Preço de Atendimento:</td>
                <td align="left">{{form.preco_atendimento}}</td>
            </tr>
            <tr>
                <td align="right">Nível de Especialidade:</td>
                <td align="left">{{form.nivel_especialidade}}</td>
            </tr>
            <tr>
                <td align="right">Nível de Tecnologia:</td>
                <td align="left">{{form.nivel_tecnologia}}</td>
            </tr>
            <tr>
                <td align="right">Média de Conforto:</td>
                <td align="left">{{form.media_conforto}}</td>
            </tr>
            <tr>
                <td align="right">Velocidade de Atendimento:</td>
                <td align="left">{{form.velocidade_atendimento}}</td>
            </tr>
            <tr>
                <td align="right"><a  style="text-decoration:none;" href="{% url 'classe_social:classe_social_index' %}"><button type="button" class="btn btn-warning btn-block" >Voltar</button></a></td>
                <td align="left"><button type="submit" class="btn btn-success btn-block" >Cadastrar</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    {{form.nome.errors}}
    {{form.preco_atendimento.errors}}
    {{form.nivel_especialidade.errors}}
    {{form.nivel_tecnologia.errors}}
    {{form.media_conforto.errors}}
    {{ form.velocidade_atendimento.errors }}

    {{ form.errors }} {# Melhorar a exibição de erros para o caso de Código e Nome já existirem #}
</form>

{% endblock body %}