{% extends 'base.html' %}

{% block title%}Classes Sociais{% endblock title%}
{% block home %}{% endblock %}
{% block home_span %}{% endblock %}
{% block medico %}{% endblock %}
{% block medico_span %}{% endblock %}
{% block modulo %}{% endblock %}
{% block modulo_span %}{% endblock %}
{% block emprestimo %}{% endblock %}
{% block emprestimo_span %}{% endblock %}
{% block classe_social %}class="active"{% endblock %}
{% block classe_social_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block body %}
<div class="container">
    <center><h1>Classes Sociais</h1></center>

    <div align="right" style="margin-right: 7%">
        <a href="{% url 'classe_social:classe_social_new' %}"><button type="submit" class="btn btn-primary">Cadastrar Novo</button></a>
    </div>
    <br>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço de Atendimento</th>
            <th>Nível de Especialidade</th>
            <th>Nível de Tecnologia</th>
            <th>Média de Conforto</th>
            <th>Velocidade de Atendimento</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
        <tr>
            <td>{{classe.id}}</td>
            <td>{{classe.nome}}</td>
            <td>{{classe.preco_atendimento | floatformat:2}}</td>
            <td>{{classe.nivel_especialidade | floatformat:1}}</td>
            <td>{{classe.nivel_tecnologia | floatformat:1}}</td>
            <td>{{classe.media_conforto | floatformat:1}}</td>
            <td>{{classe.velocidade_atendimento | floatformat:1}}</td>
            <td><a href="{% url 'classe_social:classe_social_edit' classe.id %}"><button type="button" class="btn btn-warning">Editar</button></a></td>
            <td><a href="{% url 'classe_social:classe_social_delete' classe.id %}"><button type="button" class="btn btn-danger">Deletar</button></a></td>
        </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}