{% extends 'home/base_configuracoes.html' %}

{% block title%}Empréstimo{% endblock title%}

{% block emprestimo_span %}<span class="sr-only">(current)</span>{% endblock %}
{% block emprestimo %}class="active"{% endblock %}

{% block body %}
<div class="container">
    <center><h1>Empréstimos</h1></center>

    <div align="right" style="margin-right: 40%">
        <a href="{% url 'emprestimo:emprestimo_new' %}"><button type="submit" class="btn btn-primary">Cadastrar Novo</button></a>
    </div>
    <br>

    <div style="width: 25%; position: absolute; top:20%; bottom: 0; left: 0; right: 0; margin: 0 auto;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            {% for emprestimo in emprestimos %}
            <tr>
                <td>{{emprestimo.valor|floatformat:2}}</td>
                <td><a href="{% url 'emprestimo:emprestimo_edit' emprestimo.id %}"><button type="button" class="btn btn-warning">Editar</button></a></td>
                <td><a href="{% url 'emprestimo:emprestimo_delete' emprestimo.id %}"><button type="button" class="btn btn-danger">Deletar</button></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}